<header>
    <nav>
      <div id="logo">
          <a routerLink="/home">
        <img src="/src/assets/image/bakeryicon.jpg">
        </a>
      </div>
      <div id="navList">
        <ul>
            <a routerLink="/home"><li>Home</li></a>
            <a routerLink="/about"><li>Update</li></a>
          <a routerLink="/contact"><li>Our Branch </li></a>
          <a routerLink="/register"><li>Sign Up </li></a>
          <li (click)='exit()'>SignOut</li>
        </ul>
      </div>
    </nav>
  </header>
  
  <router-outlet></router-outlet>
