#main{
    border: 1px solid brown;
    padding: 10px;
    width: 50%;
    margin-left: 200px;
    margin-bottom: 50px;
    margin-top: 10px;
    color: rgb(196, 91, 65);
}
#left{
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    width: 27%;
    
}
td{
    padding-left: 20px;
}
#right{
    margin-left: 25px;
    display: inline-block;
}
h1{
    color: rgb(192, 58, 4);
}
label{
    color: rgb(141, 36, 18)
}