#Signup{
    border: 1px solid  brown;
    width: 33%;
     margin-left: 415px;
     padding: 25px;
     color: chocolate;
     margin-top: 55px;
}
header{
    text-align: center;
}
td{
    padding: 10px;
}
input, textarea{
    border: none;
    border-bottom:1px solid darkgoldenrod;
}
h1{
    color: brown;
}
#sub{
    padding-left: 5px;
}
#sub input{
    width: 75px;
}
#subrest{
    padding-left: 55px;
}
#subrest input{
    width: 75px;
}
